<ion-header>
  <ion-navbar>

    <ion-buttons end>
      <button ion-button (click)="onDeleteAll()" icon-only>
          <ion-icon name="trash"></ion-icon>
        </button>     
      <button ion-button [ngClass]="{'btn-active': stateReorder}" (click)="onReorder()" icon-only>
        <ion-icon name="reorder"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_MAIN' | translate }}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group reorder={{stateReorder}} (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding *ngFor="let product of products | async" #item>
        <ion-item>
          <ion-label>
            <span [ngClass]="{'checked': product.valid}">
              <h2>{{ product.name }}</h2>
              {{ 'Quantity' | translate }} : {{ product.quantity}}
            </span>
          </ion-label>
          <ion-note *ngIf=!stateReorder item-end> {{ product.date | date: 'dd/MM HH:mm'}} </ion-note>
          <ion-checkbox *ngIf=!stateReorder (ionChange)="onSetProduct(product)"></ion-checkbox>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="primary" (click)="onEditItem(item, product)">
            <ion-icon name="more"></ion-icon>
            {{ 'Edit' | translate }}
          </button>

        </ion-item-options>

        <ion-item-options side="left" (ionSwipe)="onDelete(item, product)">
          <button ion-button color="danger" (click)="onDeleteOne(item, product)">
            <ion-icon name="trash"></ion-icon>
            {{ 'Delete' | translate }}
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

</ion-content>
<ion-footer>
  <button ion-button full outline color="secondary" (click)='addProduct()'>{{ 'addProduct' | translate }}</button>
</ion-footer>
