<ion-header>

  <ion-navbar>
    <ion-title>{{ 'TITLE_ADD_PRODUCT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="saveProduct(formGroup.value)">
    <ion-item>
      <ion-input placeholder="{{ 'Product' | translate }}" clearInput formControlName="name" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['name'].valid
      && !formGroup.controls['name'].touched">{{ nameAlert }}</div>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="{{ 'Quantity' | translate }}" formControlName="quantity" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['quantity'].valid
      && !formGroup.controls['quantity'].touched">{{ quantityAlert }}</div>
    </ion-item>
    <button ion-button type="submit" [disabled]="!formGroup.valid">{{ 'saveProduct' | translate }}</button>
  </form>
</ion-content>
