
<ion-header>

  <ion-navbar>
    <ion-title>Ajouter un produit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="saveProduct(formGroup.value)" >
    <ion-item>
      <ion-label>Nom du produit</ion-label>
      <ion-input type="text" name="name" formControlName= "name" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['name'].valid
      && !formGroup.controls['name'].touched" >{{ nameAlert }}</div>
    </ion-item>
    <ion-item>
      <ion-label>Quantité</ion-label>
      <ion-input type="number" name="quantity" formControlName= "quantity" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['quantity'].valid
      && !formGroup.controls['quantity'].touched" >{{ quantityAlert }}</div>
    </ion-item>
    <button ion-button type="submit" [disabled]="!formGroup.valid" >Enregistrer produit</button>
  </form>
</ion-content>
